<!doctype html>
<html lang="en">

<head>
  <title>
    Cornucopia Machines
  </title>

  <meta charset="utf-8" />
  <meta name="description" content="Cornucopia Machines" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>" />
  <script defer src="https://analytics.cornucopiamachines.eu/script.js"
    data-website-id="fe9bcb3b-c9dd-4ac6-9a0c-c7ad99a64453" data-exclude-hash="true"></script>

  <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
  <link rel="icon" type="image/ico" href="favicon.ico" />
</head>

<body>
  <!-- quasar:entry-point -->
</body>

</html>
